@import url('https://fonts.googleapis.com/css2?family=Poppins:300,400,500,600,700&display=swap');

@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
}
.container{
    max-width: 1140px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 50px;
}
.section-title h1{
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 10px;
    position: relative;
}

.section-title h1::before{
    content: '';
    left: 0;
    position: absolute;
    height: 2px;
    right: 30%;
    background-color: lightseagreen;
    bottom: 0px;
}

.text-center{
    text-align: center!important;
}
.text-left{
    text-align: left!important;
}
.text-right{
    text-align: right!important;
}
/* Header Section */
header{
    position: absolute;
    left: 0px;
    right: 0px;
    border-bottom: 1px solid #423940;
    padding: 0px 15px;
    z-index: 10;
}
header .row{
    justify-content: space-between;
    align-items: center;
}

header .brand-name a{
    text-decoration: none;
    font-size: 35px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    position: relative;
   
}



header .navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

header .navbar ul li{
    display: inline-block;
    margin-left: 50px;
}

header .navbar ul li a{
    font-size: 22px;
    text-decoration: none;
    line-height: 90px;
    color: white;
    display: block;
    font-weight: 800;
    position: relative;
}

header .navbar ul li a::before{
    content: '';
    height: 3px;
    background-color: white;
    width: 0%;
    position: absolute;
    right: 0px;
    bottom: -1px;
    transition: all .5s ease;
}
header .navbar ul li a:hover::before{
    width: 100%;
    left: 0;
}
header .navbar ul li a.active::before{
    width: 100%;
    left: 0;
}

/* Home section */
.home{
    min-height: 100vh;
    background-image: url("images/home.jpg");
    background-size: cover;
    background-position: center;
    padding: 15px;
}

.home .full-screen{
    min-height: 100vh;
    
}

.home .home-content{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.home .home-content .block{
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 35px;
    border-left: 5px solid white;
    margin-top: 50px;
}
.home .home-content .block h6{
    color: white;
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    
}
.home .home-content .block h1{
    color: white;
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1.9;
}
.home .home-content .block h3{
    color: white;
    font-size: 35px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.home .home-content .block .cv-btn{
    padding-top: 20px;
}

.home .home-content .block .cv-btn a{
    font-weight: 600;
    border-radius: 4px;
    color: white;
    border: 1px solid white;
    padding: 12px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    transition: all .5s ease;
    background-color: transparent;
    
}

.home .home-content .block .cv-btn a:hover{
    background-color:white;
    color: #000000;
}

/* About-me section */

.about-me{
    padding: 100px 15px;
    background-color: white;
}


.text-uppercase{
    text-transform: uppercase!important;
}
.about-me .section-title p{
    display: block;
    padding: 5px 5px;
    font-size: 14px;
    color: black;
    font-weight: 500;
    letter-spacing: 2px;
}

.about-me .about-content .img{
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.about-me .about-content .img img{
    width: 95%;
    display: block;
    height: 90%;
}
.about-me .about-content .text{
    flex: 0 0 66.66%;
    max-width: 66.66%;
    padding-left: 30px;
}

.about-me .about-content .text h4{
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 10px;
    letter-spacing: 2px;
}
.about-me .about-content .text h6{
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 15px;
    letter-spacing: 2px;
}
.about-me .about-content .text h6 span{
    color: darkgreen;
}
.about-me .about-content .text p{
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    color: darkgrey;
    margin: 0 0 20px;
}

.about-me .about-content .text .info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-me .about-content .text .info .list{
    flex: 0 0 calc(50% - 15px);
    max-width: calc(50% - 15px);
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid #dee2e6;
    padding-bottom: 10px;
    align-items: center;

}

.about-me .about-content .text .info .list label{
    padding-right: 10px;
    color: black;
    font-weight: 600;
    font-size: 18px;
}

.about-me .about-content .text .info .list p{
    margin: 0;
}

.about-me .about-content .text .social-links{
    padding-top: 30px;
}

.about-me .about-content .text .social-links a{
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 3px;
    display: inline-block;
    border: 1px solid black;
    line-height: 28px;
    text-align: center;
    margin: 0 1px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.about-me .about-content .text .social-links a:hover{
    background-color:transparent;
}

.about-me .about-content .text .social-links a .fa{
    color: whitesmoke;
    font-size: 15px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;

}

.about-me .about-content .text .social-links a:hover .fa{
    color: black;
}

/*Services */
/*  */
.services{
    background-color: #f5f8f5;
    padding:100px 20px 70px;
}

.services .section-title h1::before{
    left: 30%;
}
.services .service-content{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services .service-content .box{
    background-color: black;
    height: 50%;
    width: 50px;
    flex: 0 0 calc(33.33% - 20px);
    margin-bottom: 30px;
    border: 1px solid #eeeeee;
    text-align: center;
    position: relative;
    border-radius: 20px;
}
.service-content .box::before{
    content: '';
    height: 4px;
    background-color: lightseagreen;
    position: absolute;
    bottom: 0px;
    width: 70px;
    left: 0;
    right: 0;
    margin: auto;
    transition: all .5s ease;
    border-radius: 70px;

}
.service-content .box:hover::before{
    width: 95%;
}

.services .service-content .box .icon{
    height: 60px;
    width: 60px;
    background-color: lightseagreen;
    margin:0 auto 20px;
    border-radius: 50%;
    text-align: center;
}
.service-content .box .icon .fa{
    font-size: 30px;
    color: black;
    line-height: 60px;
}


.services .service-content .box h5{
    font-size: 20px;
    font-weight: 600;
    color: rgb(23, 110, 110);
    padding: 2px;
}
.service-content .box p{
    font-size: 15px;
    font-weight: 600;
    color: lightseagreen;
    line-height: 24px;
    margin: 10px 0 10px;
}
/* Skills */